<div class="periode">
          <div class="code-cours">{{periode?.hour_begin + '-' + periode?.hour_end}}<div class="etat-attente"></div><button mat-mini-fab [matMenuTriggerFor]="menu" class="modification">
        <mat-icon>more_vert</mat-icon>
      </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item>
          reserver
        </button>
         <button mat-menu-item>
          annuler
        </button>
         <button mat-menu-item>
         blocker
        </button>
      </mat-menu> </div>
          <div class="nom">Dr Cedric Tefoye</div>
      </div>
